/** Containers */
.ComingSoonContainer {
  padding-left: 1.5em;
  padding-right: 1.5em;
  /* max-width: 960px; */
  display: grid;
  grid-template-columns: 1fr;
  /* patterned background */
  background-size: 2em 2em;
  background-image: radial-gradient(circle, rgba(0,0,0,0.15) 1.5px, rgba(0, 0, 0, 0) 1px);
  /* position: relative; */
}

.HeroTextContainer {
  display: flex;
  /* flex-direction: column;
  justify-content: center; */
}

.HeroArtContainer {
  display: flex;
  width: 100%;
}

.HeroAnimation {
  height: 55vh;
  position: relative;
  width: 100%;
}

.MailingListInput {
  border: 2px solid #8F3F3F;
  border-radius: 0.5em;
  max-width: 18em;
  padding: 0.5em 0.8em;
  background-color: #a74f4f;
}

/** Images */
.HeroCardContainer {
  position: absolute;
  /* inset: 0; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

/* TODO - Shadow of the cards */
#back::before {
  /* content: '';
  display: inline-block;
  position: absolute;
  width: 408px;
  height: 498px;
  transform: translate(-50%, -50%);
  background-color: aqua;
  z-index: -1; */
}

#front img {
  transform: translate(2em, 2em) rotate(6deg);
}

/* .HeroLogo {
  height: 10em;
  width: auto;
  opacity: 0.35;
  position: relative;
  left: -3em;
  bottom: -1em;
} */
/* .HeroLogo img {
  height: 100%;
} */

/** Typography */
.HeroTitle {
  font-size: 3em;
  font-weight: 700;
  color: rgba(0,0,0,0.75)
}

.SponsorContactTitle {
  color: rgba(255,255,255,0.45);
}

.SponsorContactTitle::before {
  content: "💎 ";
  font-size: 1.2em;
  color: rgba(255,255,255,1);
}

h4 {
  color: rgba(255,255,255,0.65);
  font-size: 1.2em;
}

a {
  color: rgba(255,255,255,0.45);
}

.MailingListInput span {
  font-family: "Arvo", monospace;
  font-weight: 400;
  color: rgba(0,0,0,0.25);
}

/* .HeroDecorText {
  color: #FFFFFF;
  font-family: "Arvo", monospace;
  font-size: 0.8em;
  position: absolute;
} */

/** Responsive grid */
@media (min-width: 768px) {
  .ComingSoonContainer {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns:  1fr, 1fr; */
    padding: 0 2em;
    height: calc(100vh - 6em - 3.5em);
  }
  .HeroTextContainer {
    margin-left: 1em;
    flex-direction: column;
    justify-content: center;
  }
  .HeroAnimation {
    height: 100%;
  }
}