.FooterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5em;
  padding-top: 1.2em
}

.FooterText {
  font-family: "Arvo", monospace;
  font-size: 0.8em;
  color: #8F3F3F;
}