.UserSnippetContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.Username {
  font-family: "Arvo", monospace;
  color: rgba(255,255,255,0.55);
  margin: 0 0.5em;
  text-decoration: none;
}
.Username:hover {
  text-decoration: underline;
}

.UserProfile {
  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;
  border: 4px solid #8F3F3F;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  background-color: #FFFFFF;
}